<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>In short About me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am a research fellow at the Department of Mathematical Logic at the Andrea Razmadze Mathematical Institute. My interests include (but are not limited to) Mathematical Logic, Algebra, General Topology, Category Theory, and their interconnections.</p>
      </div>

      <div class="col-lg-4">
        <p>I am also a Back-End Developer, primarily working with Java and related technologies such as AWS, Kubernetes, SQL, and NoSQL databases, among others. </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-lg-offset-2 text-center">
        <a href="https://rmi.tsu.ge/eng/staffdep.htm#mathl" class="btn btn-lg btn-outline" target: "_blank">
          <i class="fa fa-button"></i> RMI Profile
        </a>
      </div>

      <div class="col-lg-4 text-center">
        <a href="https://www.linkedin.com/in/evgeny-kuznetsov-b479ba114/" class="btn btn-lg btn-outline" target: "_blank">
          <i class="fa fa-button"></i> LinkedIn Profile
        </a>
      </div>
    </div>
    
  </div>
</section>
